# ===============================
# Virtual Environment
# ===============================
.venv/
venv/
env/

# ===============================
# Environment variables
# ===============================
.env

# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*__init__.py

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Config privados
# ===============================
*.secrets.yaml
config/config.yml
# ===============================
# Modelos grandes (artefactos ML)
# ===============================
models/cluster/*.pkl

# ==================
# 3_modeling - bases
# ==================
3_modeling
# ==================
# docs
# ==================
docs
generate_report.py

# ==================
#data
# ==================
data/
# ===============================
# CLAUDE
# ===============================
CLAUDE.md